<div class="text-center small">
	
<p>
  <a href="#">Home</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a href="#">About Us</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a href="#">Contact Us</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a href="#">Back to top</a>
</p>

<div id="copyright">
  <br />Webmaster: <%= mail_to "luia.yen@gmail.com", "Luia Yen", :encode => "javascript" %>
    &nbsp;&nbsp;Copyright 2017
  <br /><br />
</div>

</div> <!-- close text center -->