<h2>Active Authors</h2>

<table class='table table-striped table-condensed'>
  <tr>
    <th>Author Name</th>
    <th></th>
    <th></th>
  </tr>

<% @authors.each do |author| %>
  <tr>
    <td><%= link_to author.name, author_path(author) %></td>
    <td><%= link_to "Edit", edit_author_path(author), :class => 'btn btn-primary btn-xs' %></td>
    <td><%= link_to 'Delete', author, :class => 'btn btn-danger btn-xs', confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<br />
<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate @authors, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>

<br />